<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.reference</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>round-blue</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-blue</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-blueberry</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-blueberry</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-cactus</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-cactus</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-cocoa</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-cocoa</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-gold</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-gold</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-lime</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-lime</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-mint</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-mint</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-orange</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-orange</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-pink</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-pink</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-sky</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-sky</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-alt-blue</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-alt-blue</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-alt-blueberry</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-alt-blueberry</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-alt-cactus</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-alt-cactus</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-alt-cocoa</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-alt-cocoa</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-alt-gold</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-alt-gold</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-alt-lime</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-alt-lime</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-alt-mint</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-alt-mint</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-alt-orange</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-alt-orange</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-alt-pink</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-alt-pink</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>round-alt-sky</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>round-alt-sky</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>bookmark-blue</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>bookmark-blue</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>bookmark-blueberry</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>bookmark-blueberry</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>bookmark-cactus</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>bookmark-cactus</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>bookmark-cocoa</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>bookmark-cocoa</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>bookmark-gold</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>bookmark-gold</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>bookmark-lime</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>bookmark-lime</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>bookmark-mint</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>bookmark-mint</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>bookmark-orange</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>bookmark-orange</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>bookmark-pink</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>bookmark-pink</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>bookmark-sky</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>bookmark-sky</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>simple-blue</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>simple-blue</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>simple-blueberry</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>simple-blueberry</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>simple-cactus</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>simple-cactus</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>simple-cocoa</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>simple-cocoa</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>simple-gold</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>simple-gold</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>simple-lime</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>simple-lime</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>simple-mint</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>simple-mint</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>simple-orange</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>simple-orange</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>simple-pink</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>simple-pink</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>simple-sky</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>simple-sky</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        </dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>round-alt-lime</string>
            </array>
            <key>UIPrerenderedIcon</key>
            <false/>
        </dict>
    </dict>
</dict>
</plist>
